/*--- experience ---*/
.experience {
	background-image: url(../img/experience/Bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 91px;
	min-width: 1140px;

	&__holder {
		display: flex;
		justify-content: space-between;

	}

	&__block-left {
		margin-top: 156px;
		color: white;
	}

	&__title {
		width: 359px;
	}

	&__text {
		width: 342px;
		margin-bottom: 30px;
	}

	&__button {
		padding: 18px 39px 16px 42px;
		background-color: #fff;
		color: #323232;
		transition: background-color 0.2s ease-in;
	}

	&__button:hover {
		background-color: #F5F6FA;
	}

	&__img {
		margin-top: -60px;
	}
}

@media (max-width: 1200px) {
	.experience__img {
		display: none;
	}

	.experience__holder {
		justify-content: center;
	}

	.experience__block-left {
		margin-bottom: 40px;
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
	}
}

/*--- experience ---*/