/*--- nav ---*/
.nav {
	min-width: 1140px;
	&__holder {
		display: flex;
		padding: 35px 0 33px 0;
		justify-content: space-between;
	}

	&__logo {
		display: flex;
	}
	&__logo img{
		margin-right: 3.8px;
	}
	&__logo-text {
		font-weight: 700;
		font-size: 24px;
		line-height: 36px;
	}

	&__menu {
		margin-top: auto;
		margin-bottom: auto;
	}

	&__item {
		line-height: 24px;
		color: #323232;
		margin-right: 42px;
		transition: color 0.4s;
	}

	&__item span{
		color: $accent;
		font-weight: 700;
	}

	&__item:hover{
		color: $accent;
	}

	&__item-special {
		line-height: 24px;
		color: #323232;
		transition: color 0.4s;
	}

	&__item-special:hover{
		color: $accent;
	}
}
@media (max-width: 1200px) {
	.nav__holder{
		display: block;
		text-align: center;
	}
	.nav__logo{
		justify-content: center;
		margin-bottom: 25px;
	}
}
/*--- nav ---*/